.postWrapper{
    padding: 15px 25px 25px 25px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.53); 
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.53);
}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postUsername{
    font-weight: 500;
    font-size: 18px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.postDate{
    font-weight: 300;
    font-size: 15px;
}
.postTopRightIcon{
    cursor: pointer;
}

.postCenter{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.postCenterImg{
    margin-top: 15px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.likeIcon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.likeCounter{
    font-size: 17px;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.postComments{
    cursor: pointer;
    border-bottom: 1px dashed grey;
}