.profile{
    display: flex;
}
.profileRight{
    flex: 9;
}
.profileCover{
    height: 320px;
    position: relative;
}
.profileCoverImg{
    width: 100%;
    height: 250px;
}
.profileUserImg{
    width: 185px;
    height: 185px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    object-fit: cover;
    border: 3px solid white;
    cursor: pointer;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.profileDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}