.rightBar{
    flex: 3;
}
.rightBarWrapper{
    padding: 15px 25px 25px 25px;
}
.rightBarTopIntroItem{
    margin: 10px 0;
}
.itemOne, .itemTwo{
    font-size: 17px;
}
.itemTwo{
    font-weight: 500;
}

.profileRightBarBottom{
    margin-top: 40px;
}
.listFriends{
    display: flex;
    flex-wrap: wrap;
}
.RightBarBottomItem{
    display: flex;
    flex-direction: column;
    margin: 15px 15px 15px 0;
    align-items: center;
    cursor: pointer;
}
.listFriendsImg{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.noFriends{
    color: rgb(198, 61, 61);
    font-size: 18px;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-top: 10px;
}

.followButton{
    margin: 20px 0;
    border: none;
    background-color: #1872f2;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}