.leftBar{
    flex: 3.2;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    position: sticky;
    top: 60px;
    margin-right: 10px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: aliceblue ;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(151, 155, 159);
}
.leftBarWrapper{
    padding: 15px 25px 25px 25px;
}
.leftBarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.leftBarItem{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.leftBarItem:hover{
    color: #1877f2;
}
.leftBarSpan{
    margin-left: 10px;
    font-weight: bold;
}
.leftBarButton{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 30px;
    width: 50%;
    justify-content: center;
    border: none;
}
.leftBarButton:hover{
    color: #1877f2;
}
.leftBarHr{
    margin: 20px 55px 20px 0px ;
}

.leftBarTitle{
    padding: 5px;
}
.leftBarFriendsItem{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.leftBarFriendsItem:hover{
    background: rgb(215, 211, 211);;
}
.leftBarFriendsImg{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 10px;
}
@media screen and (max-width: 480px) {
    .leftBar{
        flex: 0;
        margin: 0;
    }
    .leftBarWrapper{
        padding: 15px 0 25px 10px;
    }
    .leftBarHr{
        margin: 20px 20px 20px 0px ;
    }
}